table {
  width: 100%;
}

h3 {
  text-align: left;
}

img {
  float: left;
  margin: 10 10 10 0;
  padding-right: 10px;
}

a {
  position: relative;
  text-decoration: none;
  padding: 5px 3px;
  color: black;
  text-align: center;
  border-radius: 5px; 
  float: right;
  margin: 10px 0;
}

